mat-drawer{
    width: 270px;
}

.title{
    background: rgb(224, 220, 220);
    margin: 10px;
    border-radius: 10px;
}

li{
    background: rgb(239, 237, 237);
    padding: 7px;
    border-bottom: 1px solid #cccc;
    padding-left: 15px;
}

