.st-input{
   display: flex;
   justify-content: center;
}

.login-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.st-login-div{
height: 100vh;
display: flex;
align-items: center;

}