<div class="Card-wrapper" >
<div class="Card-title ">
    Import student from excel
</div>

<div class="main-content">
    <table  class="mainTable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th> Prev School </th>
                <th> Place</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>rifan</td>
                <td>24/4/2034</td>
                <td>male</td>
                <td>GHSS</td>
                <td>Puthur</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
