<body class="bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg w-full max-w-7xl shadow-lg">
        <h1  class="text-center mb-2 underline uppercase" >Teacher information form</h1>
        <form action="" method="post">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
                <div>
                    <label for="input1" class="block mb-1 text-gray-600">First Name</label>
                    <input type="text" name="input1" id="input1" placeholder="first name" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Last Name</label>
                    <input type="text" name="input2" id="input2" placeholder="last name" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input3" class="block mb-1 text-gray-600">sex</label>
                    <mat-radio-group aria-label="Select an option"  class="sex-section mx-auto" >
                        <mat-radio-button value="1"><div>male</div></mat-radio-button>
                        <mat-radio-button value="2"><div>female</div></mat-radio-button>
                      </mat-radio-group>
                      
                </div>
       
                <div>
                    <label for="date" class="block mb-1 text-gray-600">Date of birth</label>
                    <input type="date" name="date" id="date" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Country</label>
                    <input type="text" name="input2" id="input2" placeholder="Enter input 2" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input3" class="block mb-1 text-gray-600">State</label>
                    <input type="text" name="input3" id="input3" placeholder="Enter input 3" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input1" class="block mb-1 text-gray-600">District</label>
                    <input type="text" name="input1" id="input1" placeholder="Enter input 1" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Place</label>
                    <input type="text" name="input2" id="input2" placeholder="Enter input 2" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input3" class="block mb-1 text-gray-600">Home Address</label>
                    <input type="text" name="input3" id="input3" placeholder="Enter input 3" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input1" class="block mb-1 text-gray-600">Highet Qalification</label>
                    <input type="text" name="input1" id="input1" placeholder="Enter input 1" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Dgree</label>
                    <input type="text" name="input2" id="input2" placeholder="Enter input 2" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Graduted year</label>
                    <input type="text" name="input2" id="input2" placeholder="Enter input 2" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input1" class="block mb-1 text-gray-600">College/University Name</label>
                    <input type="text" name="input1" id="input1" placeholder="Enter input 1" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="date" class="block mb-1 text-gray-600">  first job joined</label>
                    <input type="date" name="date" id="date" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input3" class="block mb-1 text-gray-600">Specialized subject</label>
                    <input type="text" name="input3" id="input3" placeholder="Enter input 3" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
               
                <div>
                    <label for="input3" class="block mb-1 text-gray-600">Contact Number</label>
                    <input type="text" name="input3" id="input3" placeholder="Enter input 3" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="input2" class="block mb-1 text-gray-600">Maritual Status</label>
                    <mat-radio-group aria-label="Select an option"  class="sex-section mx-auto" >
                        <mat-radio-button value="1"><div>Married</div></mat-radio-button>
                        <mat-radio-button value="2"><div>Single</div></mat-radio-button>
                        <mat-radio-button value="2"><div>Divorced</div></mat-radio-button>
                      </mat-radio-group>
                </div>
              
                <div>
                    <label for="date" class="block mb-1 text-gray-600">partner Name (if)</label>
                    <input type="text"  placeholder="partner name"  name="date" id="date" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
                <div>
                    <label for="date" class="block mb-1 text-gray-600">partner occupation (if)</label>
                    <input type="text"  placeholder="partner occupation"  name="date" id="date" required class="w-full p-2 border border-gray-300 rounded-lg">
                </div>
            </div>
            
            <div class="mt-4">
                <button mat-raised-button color="primary" type="submit" class="w-full p-3 bg-blue-600 text-white rounded-lg">Submit</button>
            </div>
        </form>
    </div>
</body>