/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


// parent div

.Card-wrapper{
    border: 1px solid #cccc;
    border-radius: 5px;
    background: #ffff;
}

.Card-title{

   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   color: #ffff;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #cccc;
    padding: 10px;
    background-color: #1f2937;
}

.main-content{
    margin: 10px;
    border: 1px solid #cccc;
}



// Table 

.mainTable {
    border-collapse: collapse;
    width: 100%;
    th, td {
        border: 1px solid #b0aeaeeb;
        padding: 4px;
        text-align: left;
        white-space: nowrap;
        font-size: 14px;
       background-color: #f2f2f2;

    }

    
th {
    background-color: #1f2937;
    color: #ffff;
}
}


// inputs

.inputGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    padding: 5px;
}

.mainBox {
    width: 100%;
    float: left;
    label{
        display: block;
        margin-bottom: 0.2rem;
        font-size: 0.875rem; /* Adjust the font size as needed */
        font-weight: 500;
        color: #1a202c; /* Adjust the color as needed */
    }
}
.mainInput{
    width: 100%;
    padding: 0.625rem; /* Adjust the padding as needed */
    font-size: 0.875rem; /* Adjust the font size as needed */
    border: 1px solid #cccc; /* Adjust the border color as needed */
    border-radius: 0.375rem; /* Adjust the border radius as needed */
    background-color: #f7fafc; /* Adjust the background color as needed */
    color: #2d3748; /* Adjust the text color as needed */
    
    /* Add any other styling for focus state */
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
