/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


// parent div

.Card-wrapper{
    border: 1px solid #cccc;
    border-radius: 5px;
    background: #ffff;
}

.Card-title{

   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   color: #ffff;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #cccc;
    padding: 10px;
    background-color: #1f2937;
}

.main-content{
    margin: 10px;
    border: 1px solid #cccc;
}



// Table 

.mainTable {
    border-collapse: collapse;
    width: 100%;
    th, td {
        border: 1px solid #b0aeaeeb;
        padding: 4px;
        text-align: left;
        white-space: nowrap;
        font-size: 14px;
       background-color: #f2f2f2;

    }

    
th {
    background-color: #1f2937;
    color: #ffff;
}
}



// inputs


.inputGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

.mainBox{
    width: 250px;
    float: left;
}
.mainInput{
    width: 100%;
    float: left;
}
